<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AITLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AITLibrary.Properties.Settings>
            <setting name="AITLibrary_UserWS_UserWS" serializeAs="String">
                <value>http://localhost/UserWS.asmx</value>
            </setting>
            <setting name="AITLibrary_AuthorWS_AuthorWS" serializeAs="String">
                <value>http://localhost/AuthorWS.asmx</value>
            </setting>
            <setting name="AITLibrary_BookWS_BookWS" serializeAs="String">
                <value>http://localhost/BookWS.asmx</value>
            </setting>
            <setting name="AITLibrary_CategoryWS_CategoryWS" serializeAs="String">
                <value>http://localhost/CategoryWS.asmx</value>
            </setting>
            <setting name="AITLibrary_LoginValidationWS_LoginValidationWS"
                serializeAs="String">
                <value>http://localhost/LoginValidationWS.asmx</value>
            </setting>
            <setting name="AITLibrary_LanguageWS_LanguageWS" serializeAs="String">
                <value>http://localhost/LanguageWS.asmx</value>
            </setting>
        </AITLibrary.Properties.Settings>
    </applicationSettings>
</configuration>